<!DOCTYPE html>
<html>
    <head>
        <title>Ajouter une annonce</title>
    </head>
    <body>
        <h1>Ajouter une annonce</h1>
        <form action="http://localhost:5000/add_annonce" method="post" enctype="multipart/form-data">
            <label for="name">Nom :</label>
            <input type="text" id="name" name="name" required><br><br>
            <label for="categorie">categorie :</label>
            <input type="text" id="categorie" name="categorie" required><br><br>
            <label for="type">type :</label>
            <input type="text" id="type" name="type" required><br><br>
            <label for="surface">surface :</label>
            <input type="text" id="surface" name="surface" required><br><br>
            <label for="description">Description :</label>
            <textarea id="description" name="description" required></textarea><br><br>
            <label for="prix">prix :</label>
            <input type="text" id="prix" name="prix" required><br><br>
            <label for="contact">contact :</label>
            <input type="text" id="contact" name="contact" required><br><br>
            <label for="wilaya">wilaya :</label>
            <input type="text" id="wilaya" name="wilaya" required><br><br>
            <label for="commune">commune :</label>
            <input type="text" id="commune" name="commune" required><br><br>
            <label for="adresse">Adresse :</label>
            <input type="text" id="adresse" name="adresse" required><br><br>
            <label for="image">Image :</label>
            <input type="file" id="image" name="image" required><br><br>
            <input type="submit" value="Ajouter">
        </form>
    </body>
</html>