<!DOCTYPE html>
<html>
    <head>
        <title>Annonces</title>
    </head>
    <body>
        <h1>Liste des annonces</h1>
        <a href="http://localhost:5000/add_annonce">Ajouter une annonce</a>
        <table>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Adresse</th>
                <th>Image</th>
            </tr>
            {% for annonce in annonces %}
                <tr>
                    <td>{{ annonce.name }}</td>
                    <td>{{ annonce.description }}</td>
                    <td>{{ annonce.adresse }}</td>
                    <!-- <td><img src="{{ url_for('static', filename='uploads/' + annonce.image) }}" width="100" height="100"></td> -->
                </tr>
            {% endfor %}
        </table>
    </body>
</html>